<h1>Quantum Detectors</h1>
<p><a href="https://quantumdetectors.com/">https://quantumdetectors.com/</a></p>

<p>
This a port of Xray-Utils by Sam Webb
<a href="https://www.sams-xrays.com/xru">https://www.sams-xrays.com/xru</a>
</p>

<h2>References</h2>
<ul class="references">
	<li>
		McMaster Calculations derrived from:<br />
		W.H. McMaster N.K. Del Grande, J.H. Mallett and J.H. Hubbell, "Compilation of x-ray cross sections", Lawrence Livermore National Laboratory Report UCRL-50174 (section I 1970, section II 1969, section III 1969 and section IV 1969).
	</li>

	<li>
		Resonant scattering cross sections f'(E) and f''(E):<br />
		C. T. Chantler, Journal of Physical and Chemical Reference Data 29,
		pp597-1048 (2000) <a href="http://dx.doi.org/10.1063/1.1321055">http://dx.doi.org/10.1063/1.1321055</a>
	<li>
		X-ray Absorption and Emission Lines data from:<br />
		<a href="https://github.com/scikit-beam/XrayDB">https://github.com/scikit-beam/XrayDB</a>
	</li>

	<li>
		JSON Periodic Table<br />
		<a href="https://github.com/Bowserinator/Periodic-Table-JSON">https://github.com/Bowserinator/Periodic-Table-JSON</a>
	</li>
</ul>


<h2>Other Useful Tools</h2>
<p>
	Online MCA fitting
	<a href="https://quantumdetectors.com/xrf-web">https://quantumdetectors.com/xrf-web</a>
</p>

<h2>Source Code</h2>
<p>
	<a href="https://github.com/quantumdetectors/xray-utils">https://github.com/quantumdetectors/xray-utils</a>
</p>
