<div class="plot"></div>
<div class="page-panel page-panel-2">
    <div class="form">
        <div class="label">Energy</div>
        <div class="field">
            <input type="number" name="energy" value="10" />
        </div>
        <div class="units">keV</div>
    </div>
    <div class="selected"></div>
</div>

<div class="page-panel page-panel-4">
    <button name="add" class="full">Add Material</button>
    <div class="newmaterial"></div>
</div>

<div class="page-panel">
    <div class="search">
        <input type="text" name="search" placeholder="Name / Formula" />
    </div>

    <div class="materials"></div>
</div>
