<h1><%-name%>: <%-symbol%></h1>
<div class="details">
	<h2>General Properties</h2>
	<ul>
		<li>
			<span class="label">Atomic Number:</span>
			<span class="value"><%-number%></span>
		</li>
		<li>
			<span class="label">Atomic Weight:</span>
			<span class="value"><%-atomic_mass%></span>
		</li>
		<li>
			<span class="label">Density:</span>
			<span class="value"><%-density%></span>
		</li>
	</ul>
</div>

<h2>Absorption Edges</h2>
<div class="abs"></div>

<div class="spectra"></div>

<h2>Emission Lines</h2>
<div class="emis"></div>

<div class="anom"></div>