<div class="details">
	<h2>Details</h2>
	<ul>
		<li>
			<span class="label">Acronym:</span>
			<span class="value"><%-acronym%></span>
		</li>
		<li>
			<span class="label">Location:</span>
			<span class="value"><%-country%> - <%-continent%></span>
		</li>
		<% if (energy) { %>
		<li>
			<span class="label">Ring Energy:</span>
			<span class="value"><%-energy%>GeV</span>
		</li>
		<% } %>
		<li>
			<span class="label">Links:</span>
			<span class="value"><a href="<%-website%>">Website</a>
			<% if (status_page != '') { %>
			 | <a href="<%-status_page%>">Status Page</a></span>
			<% } %>
		</li>
	</ul>
</div>

<h2>Status</h2>
<div class="status"></div>
