                <div class="navbar-main">
                    <ul>
                        <li>
                        	<a href="#status">
                        		<i class="icon-power"></i>
                        		<span class="title">Status</span>
                        	</a>
                        </li>
                        <li>
                        	<a href="#element">
                        		<i class="icon-spectrum"></i>
                        		<span class="title">Elements</span>
                    		</a>
                        </li>
                        <li>
                        	<a href="#abs">
                        		<i class="icon-benzene"></i>
                        		<span class="title">Absorption</span>
                        	</a>
                        </li>
                        <li>
                        	<a href="#ion">
                        		<i class="icon-ion"></i>
                        		<span class="title">Chamber</span>
                        	</a>
                        </li>
                        <li>
                        	<a href="#about">
                        		<i class="icon-info"></i>
                        		<span class="title">About</span>
                        	</a>
                        </li>
                    </ul>
                </div>