<div class="form">

    <div class="label">Gas 1</div>
    <div class="field">
        <select name="gas1"></select>
        <input type="number" name="gas1prop" value="100" min="0" max="100" />
    </div>
    <div class="units">%</div>

    <div class="label">Gas 2</div>
    <div class="field">
        <select name="gas2"></select>
        <input type="number" name="gas2prop" value="0" min="0" max="100" />
    </div>
    <div class="units">%</div>


    <div class="label">Pressure</div>
    <div class="field">
        <input type="text" name="pressure" value="760" />
    </div>
    <div class="units">torr</div>

    <div class="label">Energy</div>
    <div class="field">
        <input type="text" name="energy" value="9" />
    </div>
    <div class="units">keV</div>

    <div class="label">Voltage</div>
    <div class="field">
        <input type="text" name="voltage" value="5000" />
    </div>
    <div class="units">V</div>

    <div class="label">IC Length</div>
    <div class="field">
        <input type="text" name="iclength" value="2" />
    </div>
    <div class="units">cm</div>

    <div class="label">Gain</div>
    <div class="field">
        <input type="number" name="gain" value="8" min="1" max="10" />
    </div>

</div>


<div class="form form-result">
    <div class="label">Flux</div>
    <div class="field">
        <div class="result"></div>
    </div>
    <div class="units">ph/s</div>
</div>
