
        <section class="install-banner">
            <button name="dismiss" class="small-pad">x</button>
            <span class="icon icon-left">
                <img src="assets/images/ios/home.png" />
            </span>
            Install this app by clicking the share icon 
            <span class="icon icon-small">
                <img src="assets/images/ios/share.png" />
            </span>
            and then "Add to Home Screen"
        </section>

        <section class="content" role="main">
            <div class="page-content"></div>
        </section>

        <header class="page-header"></header>
