<form>
<div class="form">
	<div class="label">
		Name
	</div>
	<div class="field">
		<input type="text" name="name" required />
	</div>

	<div class="label">
		Formula
	</div>
	<div class="field">
		<input type="text" name="formula" required />
	</div>

	<div class="label">
		Density
	</div>
	<div class="field">
		<input type="number" name="density" step="0.01" required />
	</div>
	<div class="units">g/cm3</div>
	<div class="field">
		<button type="submit" name="save" class="half">Save</button>
		<button name="cancel" class="half">Cancel</button>
	</div>
</div>
</form>
