@import "compass";
@import "modules/all";
@import "compass/css3/transition";

* {
	padding: 0;
	margin: 0;
}

html {
    height: 100%;
}

body {
    background: $body-background;
    font-family: $main-font;
    font-size: $main-font-size;
    line-height: $main-line-height;
    -webkit-text-size-adjust: 100%;
}

a {
    color: $link-color;
    
    &:hover {
        color: $link-hover-color;
    }
}


.content {
    background-color: $content-background;
    padding-bottom: 55px;

    @media (orientation: landscape) {
        margin-left: 60px;
        padding-bottom: 0;
    }

    @media (min-width: $breakpoint-small) {
        margin-left: 80px;
    }

    .install-banner.show + & {
        margin-top: 48px
    }


	.page-panel {
		padding: 5px;
	}

	.page-panel-2 {
		background: #eee;
	}

    .page-panel-3 {
        background: #fff;
    }
}


.splash {
	padding: 20px;
    text-align: center;
    background: $header-background;
    height: calc(100vh - 40px);
    position: relative;

	.loader {
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: fixed;
	}

	h1 {
		color: #eee;
		font-weight: $bold;
		margin-bottom: 5px;
		font-size: 28px;
		font-family: $page-header-font;
	}
	
    img {
    	position: fixed;
    	bottom: 20px;
    	left: 50%;
    	transform: translate(-50%, 0);
    	max-width: calc(100% - 40px);
    }
}