// Header
// ---------------------------------------------------------

.page-header {
	background: $header-background;
	color: $header-color;
	position: fixed;
	bottom: 0;
	width: 100vw;
	z-index: 2;

	ul {
		display: flex;
		@media (orientation: landscape){
  			flex-direction: column;
  			height: 100vh
  		}

		li {
			flex: 1 1 0;
			text-align: center;

			a {
				display: block;
				text-align: center;
				padding: 10px 5px;
				text-decoration: none;
				color: $header-color;

				&:hover {
					color: $header-hover-color;
				}

				&.active {
					color: $header-active;
					font-weight: $bold;
					background: darken($header-background, 10%);
				}

				.title {
				    display: block;
				    font-size: 9px;
				    text-overflow: ellipsis;
				    overflow: hidden;
				    white-space: nowrap;
				}
			}
		}
	}

	@media (orientation: landscape) {
		width: 60px;
	}

	@media (min-width: $breakpoint-small) {
		width: 80px;

		a {
			.title {
				font-size: 12px;
			}
		}
			
	}
}


// Install Banner
.install-banner {
	z-index: 2;
	background: #e7f6fd;
	padding: 5px;
	display: none;
	position: fixed;
	top:0;

	&.show {
		display: block
	}

	button {
		float: right;
	}

	.icon {
		display: inline-block;
		width: 32px;
		vertical-align:middle;

		img {
			width: 100%;
		}
	}

	.icon-small {
		width: 18px;

	}

	.icon-left {
		float: left;
		margin: 3px;
	}

	font-size: 10px;

	@media (orientation: landscape) {
	    margin-left: 60px;
	    width: calc(100vw - 60px - 10px);
	}
}
